.banner {
    width: 100%;
    background-color: #0000;
}

.topTransparent { background-color: #7d7d7d48; }
.topOpaque { background-color: #ebe9e9; }
.top {
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 50px;
    padding-left: 1rem;
    padding-right: 0.5rem;
    z-index: 100;
    transition: transform 0.3s;
}

.header {
    user-select: none;
}

.pageName:hover { transform: scale(1.13) }
.pageName {
    font-size: 5vw;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    transition: transform 0.25s;
}

.content {
    z-index: 9;
    position: absolute; 
    width: 100%;
}

.contentText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contentText h1 { font-size: 32px }
.contentText p { font-size: 17px }

@media only screen and (min-width: 360px) {
    .pageName { font-size: 19px }
}

@media only screen and (min-width: 480px) {
    .contentText h1 { font-size: 40px }
    .contentText p { font-size: 22px }
    .pageName { font-size: 20px }
}

@media only screen and (min-width: 768px) {
    .contentText h1 { font-size: 48px }
    .contentText p { font-size: 26px }
    .pageName { font-size: 22px }
}

/* Background color animation */
.header__transparent { animation: opaque-to-transparent 0.5s forwards !important; }
.header__opaque { animation: transparent-to-opaque 0.4s reverse !important; }
@keyframes opaque-to-transparent { 100% { background-color: #7d7d7d48; } }
@keyframes transparent-to-opaque { 100% { background-color: #7d7d7d48; } }
