.main {
    display: flex;
    flex-direction: column;
    font-size: 6vw;
    flex-grow: 1;
    height: 100%;
}

@media only screen and (min-width: 360px) {
    .main { font-size: 22px }
}

@media only screen and (min-width: 480px) {
    .main { font-size: 24px }
}

@media only screen and (min-width: 768px) {
    .main { font-size: 28px }
}

.spinner {
    margin: 1em auto;
    background-color: rgb(223, 229, 233);
    padding: .3em 1em 1em 1em;
    border-radius: 5px;
}

.spinnerTitle {
    text-align: start;
    margin-left: .25em;
    color: #373636;
    font-weight: 350;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

.main button {
    width:max-content;
    padding: .2em;
    margin: .5em auto;
}

.main button:hover {
    cursor: pointer;
}

.showAllInTableContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.showAllInTable {
    margin: 0 !important;
    background-color: transparent;
    border-color: transparent;
    outline-color: transparent;
    color: #646cff;
    font-size: .5em;
    text-align: end;
    font-weight: 500;
}

.showAllInTable:hover {
    color: #353edc;
}