.main {
    margin: 1rem 0;
}

.main p {
    user-select: none;
}

.sectionwhite {
    text-align: center;
}

.main a {
  text-decoration: inherit;
}
.main a:hover {
  color: #535bf2;
}

.article {
    margin: 1rem 3vw;
    padding: 2rem 1rem;
}

.article p {
    color: rgb(38, 37, 37)
}

.article span {
    color: black
}

.title {
    padding: 2rem;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
}

.main span {
    font-size: 1.6em;
}

.main p {
    font-size: 1.2em;
}

.icon {
    padding: 3px;
    margin: 0 .5rem;
    transition: transform 0.25s;
    height: 5em;
    width: 5em;
    min-height: 40px;
    min-width: 40px;
}

.icon:hover {
    transform: scale(1.1);
}

.preferredcontact {
    margin: 1rem 0;
    width: 7em;
    height: 7em;
    min-height: 70px;
    min-width: 70px;
}

.email {
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black
}

.photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.photo img {
    width: 15em;
}