.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 6vw;
    margin: 4rem 0;
}

@media only screen and (min-width: 360px) {
    .container { font-size: 22px }
}

@media only screen and (min-width: 480px) {
    .container { font-size: 24px }
}

@media only screen and (min-width: 768px) {
    .container { font-size: 28px }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44, 24, 63);
}

.form label {    
    margin: 0 0 .7em;
}

.input {
    border-radius: 5px;
    padding: 2px 4px;
    margin: .2em 0;
    width: 50vw
}

.required {
    outline: 4px auto red;
}

.submit {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(35, 139, 26);
    margin: .7em;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.25em 0.55em;
    cursor: pointer;
    outline: 1px solid black;
    transition: outline 0.25s;
    transition: background-color 0.2s;
    transition: transform 0.1s;
}
.submit:hover {
    outline: 4px auto #64ff76;
    background-color: rgb(29, 153, 56);
    transform: scale(1.06)
}

.warning {
    color:red
}