.main {
    margin: 0 1rem;
}

.top {
    margin: calc(var(--header-height) + 15px) 1.5rem;
}

.top h2 {
    font-size: 32px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.top p {
    font-size: 20px;
    padding: 4px;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.bottomImg {
    height: 55vw;
    max-width: 90vw;
    margin: 3vw;
    border-radius: 10px;
}