.container {
    --form-width: 80vw; /* MODIFICAR ESTE PARÁMETRO PARA AJUSTAR EL TAMAÑO DEL FORM */
    --adjust-coeficient: 2.5; /* MODIFICAR ESTE PARÁMETRO PARA AJUSTAR EL CONTENIDO DEL FORM */
    --form-background-color: rgb(16, 70, 112);
    --warning-color: rgb(167, 183, 252);
    --form-legend-size: .7rem;
    --form-input-size: .7rem;
}

@media (min-width: 360px) { 
    .container { 
        --form-legend-size: 1rem;
        --form-input-size: 1.1rem;
    } 
}

@media (min-width: 480px) { 
    .container { 
        --form-legend-size: 1.35rem;
        --form-input-size: 1.47rem;
    }
}

@media (min-width: 768px) { 
    .container { 
        --form-legend-size: 1.5rem;
        --form-input-size: 1.6rem;
        --form-width: 70vw; /* MODIFICAR ESTE PARÁMETRO PARA AJUSTAR EL TAMAÑO DEL FORM */
        --adjust-coeficient: 2.4; /* MODIFICAR ESTE PARÁMETRO PARA AJUSTAR EL CONTENIDO DEL FORM */
    } 
}

@media (min-width: 1024px) { 
    .container { 
        --form-legend-size: 1.8rem;
        --form-input-size: 2rem;
    } 
}

.container {
    width: var(--form-width);
}

.form_id {
    background-color: var(--form-background-color);
    width: auto;
    margin: 0 auto; /* centrado */
    padding: 1vw;
    border-radius: 1rem;
}

.container a:link , .container a:visited { 
    text-decoration: none; 
}

.container textarea {
    resize: none;
}

.container fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    user-select: none;
}

.container legend {
    text-transform: uppercase;
    font-weight: bold; /* negrita */
    text-align: center;
    font-size: var(--form-legend-size);
    padding-top: 1vh;
    margin-bottom: 2vh;
}

.inputContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, calc(var(--form-width) / var(--adjust-coeficient)));
    font-size: var(--form-input-size);
    grid-gap: 3vh 3vw;
}

.hidden { display: none !important; }
.warning {
    font-weight: bold; /* negrita */
    color:var(--warning-color);
    margin-top: .7rem;
}

.submitContainer {
    display: grid;
    place-items: center;
    margin-top: 3vh;
}

.submitContainer button {
    padding: 4px 12px;
    font-size: 4vw;
    background-color: #ffe4c4;
    border-radius: 10px;
    transition: transform 0.15s;
    color: #000;
}